.card {
  min-width: 600px;
}

.image-chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card-image {
  flex:1;
  align-self: center;
  min-width: 350px;
}

.card-chart {
  flex: 1;
  min-width: 400px;
}
